@import '_mixin';

.createCourse {
	@include titleAction;

	form {
		@include inputHolder;
		@include secondaryBtn;

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			margin-top: 2rem;

			li {
				border: 1px solid $lighter-grey;
				background-color: $white;
				border-radius: 5px;
				padding: 2rem;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				gap: 1rem;
				position: relative;
				flex: 0 0 24%;

				span {
					position: absolute;
					right: -0.75rem;
					top: -0.75rem;
					background-color: $dark-grey;
					display: flex;
					padding: 0.5rem;
					border-radius: 50%;
					cursor: pointer;

					svg {
						width: 0.75rem;
						height: 0.75rem;

						path {
							fill: $white;
						}
					}
				}

				@include inputHolder;

				> div {
					h4 {
						text-transform: uppercase;
						font-weight: 600;
						color: $dark-grey;
					}
				}
			}
		}

		.buttonContainer {
			margin-top: 2rem;
			display: flex;
			justify-content: space-between;
		}
	}
}