@import '_mixin';

.login {
	background: #FDC830;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;

	@include container;

	.loginContainer {
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		border-radius: 10px;
		background-color: $white;
		display: flex;

		> div {

		}

		form {
			padding: 3rem;
			min-width: 350px;

			@include inputHolder;

			p {
				margin-bottom: 1rem;

				a {
					color: $primary;
				}
			}
		}
	}

	&.admin {
		background: #3CA55C;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


		.loginContainer {
			form {
				.primaryBtn {
					background-color: $primaryAlt;
					border-color: $primaryAlt;
				}

				p {
					a {
						color: $primaryAlt;
					}
				}
			}
		}
	}
}